<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Epiphany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatTest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Epiphany <span style="font-size:0.7em;">(beta)</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ECDC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - Licensed under the EUPL
            <span style="float: right; font-size: 0.7em; color: gray;">build @File.GetLastWriteTime(@System.Reflection.Assembly.GetExecutingAssembly().Location).ToString("yyyy-MM-dd HH:mm")</span>
            
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" id="cookieConsentKitConfiguration">
        window.cookieConsentKitBannerStyle = "defaultStyle";
        window.cookieConsentKitBannerPosition = "right";
        window.cookieConsentKitDomain = ".ecdc.europa.eu";
        window.cookieConsentKitDisplayPrompt = "true";
        window.cookieConsentKitSupportMultilingual = "false";
        window.cookieConsentKitEnableGoogleAnalytics = "true";
        window.googleAnalyticsTrackingId = "78";
        window.cookieConsentKitEnableGoogleTagManager = "false";
        window.googleTagManagerContainerId = "";
    </script>
    <script type="text/javascript" id="cookieConsentKitConfigurationFilePath" src="https://cdn.ecdc.europa.eu/cookieConsentKit/configuration-2.0.min.js"></script>
    <script type="text/javascript" id="cookieConsentKitFilePath" src="https://cdn.ecdc.europa.eu/cookieConsentKit/cookieConsentKit-2.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
